# =====================
# OS
# =====================
.DS_Store
Thumbs.db

# =====================
# VS Code
# =====================
.vscode/
!.vscode/extensions.json

# =====================
# Logs & temp
# =====================
*.log
*.tmp

# =====================
# VirtualBox
# =====================
*.vbox
*.vbox-prev
*.vdi
*.vhd
*.vmdk
VirtualBox VMs/

# =====================
# Linux
# =====================
*.swp

# =====================
# Terraform / IaC (future)
# =====================
.terraform/
terraform.tfstate
terraform.tfstate.backup

# =====================
# Environment files
# =====================
.env
